@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}
:root {
    --bg:rgb(0, 195, 255);
  --globebg: rgba(102, 84, 102, 0.253);
}
html,body{
 background-color: rgb(58, 48, 48);
}
.container {
min-height: 100vh;
max-height: max-content;
  background-image: url("./background.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  
  grid-template-columns: 0.6fr 1.4fr;
}
.content {
  height: auto;

  display: flex;
  flex-direction: column;
  background-color: var(--globebg);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  backdrop-filter: blur(3px);
}

.brand {
  width: 100%;
  backdrop-filter: blur(1px);
}
.brand h1 {
  color: rgb(0, 0, 0);
  position: relative;
  top: 30px;
  padding-block: 10px;
  background-color: var(--bg);
  display: inline-block;
  width: 100px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.content h2 {
  padding-inline: 50px;
  padding-block-start: 20px;
  padding-block-end: 10px;
  font-weight: 500;
}
.content h5 {
  padding-inline: 50px;
  font-weight: 400;
}
form .commonDiv label {
  position: absolute;
  top: 10px;
  background-color: var(--bg);
  display: flex;
width: 60%;
  justify-content: start;
  transition: all 0.3s;
  font-weight: 400;
  font-size: 13px;
  height: 30px;
  color: black;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

form .commonDiv {
  position: relative;
  top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
form input,
#gender {
  height: 40px;
  border-radius: 5px;
  outline: none;
  font-size: 14;
  width: 80%;
  
  border: none;
  background-color: var(--bg);
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

form .commonDiv input:focus + label {
  top: -10px;
  background-color: var(--bg);
  left: 13%;
  width: fit-content;
  padding-inline: 4px;
  border-inline: 2px solid white;
  height: auto;
}
.commonDiv input:not(:focus):valid + label {
  height: auto;

  top: -10px;
  background-color: var(--bg);
  left: 13%;
  width: fit-content;
  padding-inline: 4px;
  border-inline: 2px solid white;
}

#gender,
#dob {
  text-align: center;
}
#gender + label {
  top: -10px;
  width: fit-content;
  left: 13%;
  border-inline: 2px solid white;
  height: auto;
}
#profile + label {
  top: -10px;
  width: fit-content;
  left: 13%;
  border-inline: 2px solid white;
  height: auto;
}
form .terms {
  position: relative;
  top: 50px;
  display: flex;
  justify-content: center;
  grid-column: 1 / span 2;
}
form .terms input {
  height: 20px;
  width: 20px;
  margin-inline: 10px;
}
form .terms label {
  font-size: 13px;
  font-weight: 300;
}
form .terms label a {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;

  color: black;
}
.terms input:checked {
  accent-color: var(--bg);
}
form .submit {
  grid-column: 1 / span 2;
  position: relative;
  top: 50px;
  display: flex;
  justify-content: center;
}
.submit input {
  padding: 0;
  width: 150px;
  border-radius: 10px;
  font-weight: 500;
  background-color: var(--bg);
}
.content hr {
  position: relative;
  top: 60px;
}

@media screen and (max-width: 640px) {
  form .commonDiv label {
    font-size: 10px;
    font-weight: 300;
  }
  .container{
  grid-template-columns: 1fr;
  gap: 0;

  }
 .brand{
    display: none;
 }
}
.signin{
    position: relative;
    top: 70px;
    display: block;
    margin:  0 auto;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;

}
.signin:hover{
    background-color:rgba(128, 128, 128, 0.126) ;
}
.alert{
  font-size: 12px;
 
}
@media screen and (max-width: 340px){
  form{
    grid-template-columns: 1fr;
  }
}